.title-site {
  padding-top: 1em;
  font-weight: 500;
  font-size: 4.5rem;
  color: white;
  
  letter-spacing: -5px;
}

#home {
  display: flex;
  flex: 1;
  padding: 4em;

  align-items: center;

  height: 100vh;
  flex-direction: column;


  
  
  .game-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 5vw;
    margin: auto 0;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
  }
  
  
  
}
