.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.jokenpo-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .center-triangle {
    align-self: center;
    min-height: 2rem;
    max-height: 10rem;
    margin-top: 80px;
    display: flex;
    z-index: -2;
    position: absolute;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 55%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;

      
    }
  }
  
  
  
  .rules {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 10px;
    letter-spacing: 2px;
    background-color: transparent;
    border-color: whitesmoke;
    border-width: 0.5px;
  }
  
  .rules:hover {
   background-color: whitesmoke;
   color: hsl(229, 25%, 31%);
   border-color: whitesmoke;
   border-width: 1px;
  }
  
  .rules:focus {
    background-color: whitesmoke;
    color: hsl(229, 25%, 31%);
    border-color: whitesmoke;
    border-width: 1px;
  }
  .rules:active {
    background-color: whitesmoke;
    color: hsl(229, 25%, 31%);
    border-color: whitesmoke;
    border-width: 1px;
  }
  
  .scorebtn {
    margin-top: 48px;
    position: relative;
    width: fit-content;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left: 3.8em;
  }
  
  
  
  
  #again {
    background-color: whitesmoke;
   color: hsl(229, 25%, 31%);
   border-color: whitesmoke;
   border-width: 2px;
   position: relative;
    width:fit-content;
   display: flex;
   align-self: center;
   justify-self: center;

   top: unset;
   bottom: unset;
   left: unset;
   right: unset;
  }
  
  #again:hover {
    background-color: whitesmoke;
    color: hsl(229, 25%, 31%);
    border-color: hsl(349, 71%, 52%);
    border-width: 2px;
    transition: all ease-out 0.2s;
  }
  
  
  .result-title {
    color: whitesmoke;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1em;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 32px;
  }
  
  
  
  .buttons-container {
    display: flex;
    width: 60%;
    margin: 0 auto;
  
    flex-direction: column;
  
  
    button {
      border: none;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;
    
      background: transparent;
    
      /* inherit font & color from ancestor */
      color: inherit;
      font: inherit;
    
      /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
      line-height: normal;
    
      /* Corrects font smoothing for webkit */
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
    
      /* Corrects inability to style clickable `input` types in iOS */
      -webkit-appearance: none;
    }
    
    button:focus {
      outline: none;
    }
    
  }
  
  .top-buttons {
    flex: 1;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .top-buttons button {
    display: flex;
  
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  
  .buttons-container button { 
    display: flex;
    flex:1;
    margin-top: 0em;
    align-items: center;
    justify-content: center;
  }
  
  .results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .picked {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cpu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  
  #results-title {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 3em;
    color: white;
    opacity: 0;
    font-weight: 700;
    margin: 0 auto;
  }
  
}

