.menu-container {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 20;
}

.icon-menu {
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: all ease 0.2s;
  z-index: 20;

  &:hover {
    opacity: 0.2;
    transition: all ease 0.2s;
  }
}
